# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WizzardRob.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Repository\WizzardRob\.idea\.idea.WizzardRob\.idea/dataSources/
/dataSources.local.xml
